/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taglineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adjust the space between images and text */
}

.taglineImage {
  height: 50px; /* Reduce the height of the images */
  width: auto; /* Ensure the width adjusts automatically to maintain the aspect ratio */
  object-fit: contain; /* Maintain aspect ratio of the SVGs */
}

.hero__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
